body {
    font-family: 'Poppins';
    text-align: center;
    background-image: url(images/img3.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
  }
  
  p {
    color: white;
  }

    header {
     position: sticky;
     top: 0;     
}
  
  .endparagraph {
    position: fixed;
    bottom: 0;
  }
  .topnav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    
  
  }
  .topnav:hover {
    color: rgb(0, 0, 0);
  }

  .blankdiv {
    height: 30px;
    width: 100%;
  }

  .maintitle {
    margin-left: 0;
  }

  .centernav {
    display: flex;
  }

  .mycenternav:hover {
    color: rgb(0, 0, 0);
  }

  .mycenternav {
    color: white;
  }

  .mylastnav:hover {
    color: rgb(0, 0, 0);
  }

  .mylastnav {
    color: white;
  }

  .centernav div {
    padding: 10px;
    
  }

  .centernav div:hover {
    color: rgb(0, 0, 0);
  }

  .topnav .maintitle {
    padding: 10px;
    color: rgba(0, 169, 0);
  }

  .lastnav div {
    padding: 10px;

  }


  .lastnav {
    margin-right: 0;
    display: flex;
  }

  .centernav div:hover {
    background-color: #ffffff;
  }
  
  .lastnav div:hover {
    background-color: #ffffff;   
  }

  div a:hover {
    color: rgb(0, 0, 0);
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }


  header {

    width: 100%;
  }
  
  .searchbar input {
    border: none;
    font-size: 17px;
    color: #333;
    width: 300px;
    height: 33px;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
  }

 

  .card {
    background-color: white;
    margin: auto;
    text-align: center;
    font-family: 'Poppins';
    border-radius: 10px;
    width: 200px;
    height: 320px;
    border-radius: 14px;
  }
  
  .price {
    color: rgb(0, 0, 0);
    font-size: 14px;
  }

  .approxarea {
    color: rgb(0, 0, 0);
    font-size: 14px;
  }

  .chatowner {
    color: rgb(0, 0, 0);
    font-size: 14px;
  }

  .reqpurchase {
    color: rgb(0, 0, 0);
    font-size: 14px;
  }
  .card {
    margin: 10px;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 0px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
    border-radius: 2px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .county_lands {
    display: flex;
    justify-content: center;

    
  }

  .county_lands img {
border-top-left-radius: 14px;
border-top-right-radius: 14px;
  }

  .county_lands h1 {
    font-size: 16px;
  }
  .all_county_lands {
    background-color: #ffffff1a;
    border-radius: 30px;
    overflow: auto;
    max-height: 700px;
  }

  .card p {
    color: rgb(0, 0, 0);
    font-size: 14px;
  }

  .card button {
    font-size: 14px;
  }

  div h1 {
    background-color: #000000;
    color: #ffffff;
  }

  #land_sales_title {
    background-color: #ffffffe1;
    color: #000000;
  }
  .reqtable {
    background-color: white;
    border-radius: 15px;
    justify-self: center;
    justify-content: center;
    margin: 0 auto;
    width: 540px;
    text-align: center;
   }

   .reqtable table {
    text-align: center;
    justify-self: center;
    justify-content: center;
    margin: 0 auto;
   }
